extends layout

block content
    .w3-container.w3-padding-16
        img(src="/images/diary.png", style="height:50px;" )
        span  Editar upload:
            span=upload.upload_date
    form.w3-container.w3-card.w3-white.w3-round(method="POST" enctype="multipart/form-data")
        label
            h2.w3-bar-item.w3-left Descrição:
        input.w3-input.w3-border.w3-round(type="text" name="description" value=upload.description)
        label
            h2.w3-bar-item.w3-left Público:
        input.w3-input.w3-border.w3-round(type="checkbox" name="public" checked=(upload.public) value='true')
        ul.w3-ul
            each file, i in upload.files
                li.w3-content.w3-card-4.w3-white.w3-round(style="position: relative;")
                    input(type="hidden" name="files[" + i + "][id]" value=file.id)
                    label
                        h2.w3-bar-item.w3-left Título:
                    input.w3-input.w3-border.w3-round(type="text" name="files[" + i + "][title]" value=file.title)
                    main.w3-container.w3-margin-bottom
                        label
                            h3.w3-bar-item.w3-left Classificação:
                        input.w3-input.w3-border.w3-round(type="text" name="files[" + i + "][classification]" value=file.classification)
                        if file.type === 'image'
                            img(src=`/file/${file.id}`, alt=file.title, style="width:900px;height:auto;")
                        else if file.type === 'pdf'
                            iframe(src=`/file/${file.id}`, width='900px', height='auto')
                        label Alterar ficheiro
                        input.w3-input.w3-border.w3-round(type="file" name="files[" + i + "][file]")
                    br
        button.w3-button.w3-medium.w3-cyan.w3-text-black.w3-hover-cyan.w3-hover-text-black.w3-block(type="submit") Editar