extends layout

block content
    .w3-container.w3-padding-16
        img(src="/images/diary.png", style="height:50px;" )
        span  O Meu Diário
            if upload.public
                img(src="/images/public.png", style="height:30px;" )
            else 
                img(src="/images/private.png", style="height:30px;" )
            span=upload.upload_date
            h1=upload.description
    ul.w3-ul
        each file in upload.files
            li.w3-content.w3-card-4.w3-white.w3-round(style="position: relative;")
                    header.w3-container.w3-light-grey.w3-bar
                        h2.w3-bar-item.w3-left=file.title
                    main.w3-container.w3-margin-bottom
                        h3=file.classification
                        if file.type === 'image'
                            img(src=`/file/${file.id}`, alt=file.title, style="width:900px;height:auto;")
                        else if file.type === 'pdf'
                            iframe(src=`/file/${file.id}`, width='900px', height='auto')
                        a(href=`/file/${file.id}`, download=file.title) Download
                    br